<ion-header>
    <ion-navbar color="navbarskypeblue">
        <button ion-button menuToggle item-start>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Events
        </ion-title>
    </ion-navbar>
</ion-header>


    <!--<div text-wrap *ng="let item of items">{{item.email}}</div>-->

<ion-content padding>

    <!--    <a ion-item *ngFor="let item of items | async" (click)="openChat(item.$key)">
        <ion-avatar item-left>
            <img *ngIf="!(item.info | async).uid" src="assets/images/default.jpg">
            <img *ngIf="(item.info | async).uid" src="{{(item.info | async).uid}}">
        </ion-avatar>
        <span>{{(item.info | async).message}}</span>
        </a>
     -->
        <ion-list>

            <ion-item text-wrap *ngFor="let item of items | async">
            <ion-badge color="chattitle" item-top>{{item.messageUser}}</ion-badge>
            <div class="chat-bubble">{{item.messageText}}</div>
            <div class="smallbadge"><ion-badge color="timebadge" item-bottom>{{item.messageTime | date:'yyyy-MM-dd HH:mm:ss'}}</ion-badge></div>

            </ion-item>
        </ion-list>



</ion-content>
<ion-footer>
    <ion-item>
        <ion-label floating>type here...</ion-label>
        <ion-input type="text-area" [(ngModel)]="newmessage" ionic-input-clearable ></ion-input>
        <button color="googlered" ion-button item-right (click)="createItem(newmessage)"><ion-icon  name="send"></ion-icon></button>
    </ion-item>
</ion-footer>
